<div class="wrapper">
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
              <h3>Statuser - work status in a click</h3>
            </div>
      
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username" [(ngModel)]="username">
                <small id="emailHelp" class="form-text text-muted">If the specified user does not exist, we will create one.</small>
              </div>
          
              <div class="form-group">
                  <a href="#" class="btn btn-primary" role="button"  (click)="onLoginClick()">Login</a>
                  <img *ngIf="appService.isLoading" style="margin-left: 15px;" src="assets/ajax-loader.gif" />
              </div>
        </div>
      </div>
</div>
