.wrapper {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #ffffff;
    z-index: 9999;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    animation-name: enter-animation;
    animation-duration: 1s;
    margin-bottom: 40px;
}

@keyframes enter-animation {
    from {
        opacity: 0;
        margin-bottom: 60px;
    }
    to {
        opacity: 1;
        margin-bottom: 40px;
    }
}