<div class="row">
  <div class="col-md-12" style="margin-bottom: 5px;">Update my current status:</div>
  <div class="col-md-3">
    <select (change)="onStatusChange($event.target.value)" class="form-control">
      <option>Working</option>
      <option>On Vacation</option>
      <option>Business Trip</option>
    </select>
  </div>
</div>