<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header"> <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8"
        aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="#" class="navbar-brand">Statuser - update your work status</a> </div>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="appService.isLoading"><a><img style="margin-right: 30px;" src="assets/ajax-loader.gif" /></a></li>
    </ul>
  </div>
</nav>