<!-- Only visible after logging in -->
<app-header *ngIf="appService.isLoggedIn"></app-header>
<app-home *ngIf="appService.isLoggedIn"></app-home>

<!-- Appears on the first login -->
<app-login *ngIf="!appService.isLoggedIn"></app-login>