<div class="container">
  <div class="row" style="margin-bottom: 20px;">
    <h4 class="col-md-12">Hello <span style="font-weight: bold;">{{ appService.user.username }}</span>, you are status is <span style="text-decoration: underline;">{{ appService.user.status_name }}</span>.</h4>
  </div>

  <app-status-updater></app-status-updater>

  <app-users-list></app-users-list>
</div>