<div class="row">
  <div class="col-md-12" style="margin-bottom: 8px;">
    <hr> List of employees:
  </div>

  <div class="col-md-10">
    <input type="text" class="form-control" [(ngModel)]="searchedUsername" placeholder="Search by name..." />
  </div>

  <div class="col-md-2">
    <select [(ngModel)]="searchedStatus" class="form-control">
      <option value="" selected>All</option>
      <option>Working</option>
      <option>On Vacation</option>
      <option>Business Trip</option>
    </select>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col-md-12">

    <div class="panel panel-default">

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>

          <tr [ngClass]="'status_' + user.status_name.replace(' ', '_')" *ngFor="let user of (appService.fetchedUsers | statusFilter:searchedStatus| usernameFilter:searchedUsername) ; let i = index;">
            <th scope="row">{{ i }}</th>
            <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ user.username }}</td>
            <td>{{ user.status_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>